<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h1 class="section-title ff-secondary text-center text-primary fw-normal">Nos Clients</h1>
      <h2 class="mb-5">Liste des Clients</h2>
    </div>

    <div class="table-responsive wow fadeInUp" data-wow-delay="0.3s">
      <table class="table table-bordered table-hover text-center align-middle">
        <thead class="bg-primary text-white">
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Rôle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{ client.nom }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.tel }}</td>
            <td>{{ client.role }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
